@{
    @model Billing.Presentation.Models.MainMenu;
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-container position-relative">

    <!-- App header starts -->
    <div class="app-header d-flex align-items-center">

        <!-- Toggle buttons start -->
        <div class="d-flex">
            <button class="btn btn-outline-primary me-2 toggle-sidebar" id="toggle-sidebar">
                <i class="bi bi-chevron-left fs-5" id="toggle-icon-btn"></i>
            </button>
            <button class="btn btn-outline-primary me-2 pin-sidebar" id="pin-sidebar">
                <i class="bi bi-chevron-left fs-5" id="icon-btn"></i>
            </button>
        </div>
        <!-- Toggle buttons end -->
        <!-- App brand sm start -->
        <div class="app-brand-sm d-lg-none d-sm-block">
            <a href="index.html">
                <img src="~/images/NoorFood.png" class="logo" alt="logo Gallery">
            </a>
        </div>
        <!-- App brand sm end -->
        <!-- App header actions start -->
        <div class="header-actions">
            <div class="d-lg-block d-none me-2">
            </div>

            <div class="dropdown ms-3">
                <a id="userSettings"
                   class="dropdown-toggle d-flex py-2 align-items-center text-decoration-none" href="#!"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="d-none d-md-block me-2">Noor Food</span>
                    <img src="~/images/profile.avif" class="rounded-circle img-3x"
                         alt="Bootstrap Gallery" />
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <a class="dropdown-item d-flex align-items-center" href="profile.html">
                        <i class="bi bi-person fs-4 me-2"></i>Profile
                    </a>

                    <a class="dropdown-item d-flex align-items-center"
                       href="https://snmatrix.com/noorfoodandagriculture/noorfood"
                       onclick="myFunction()"><i class="bi bi-escape fs-4 me-2"></i>Logout</a>
                </div>
            </div>
        </div>
        <!-- App header actions end -->

    </div>
    <!-- App header ends -->
    <!-- App hero header starts -->
    <div class="app-hero-header d-none ">
        <h2 class="">Selling Details</h2>
    </div>
    <!-- App Hero header ends -->
    <!-- App body starts -->
    <div class="app-body h-100 mt-0">
        <div class="row">
            <div class="col-xxl-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12    col-lg-7 mt-3 mt-lg-0">
                                <div class="d-flex  align-items-center">
                                    <h4>Sell details</h4>
                                </div>
                            </div>
                            <div class="col-md-12   col-lg-2 mt-3 mt-lg-0">
                                <div class="d-flex justify-content-lg-end align-items-center">
                                    <h5 class="me-1">Date:</h5>
                                    <h4> <span class="badge text-bg-light">08-05-2023</span></h4>

                                </div>
                            </div>
                            <div class="col-md-12    col-lg-3 mt-3 mt-lg-0">

                                <div class="d-flex justify-content-lg-end align-items-center">
                                    <h5 class="me-1">Bill No:</h5>
                                    <h4><span class="badge text-bg-light">12345</span></h4>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xxl-12">
                <div class="card shadow mb-4">

                    <div class="card-body">


                        <div class="row form-group">
                            <div class="col-sm-12   col-lg-4 mt-3 mt-lg-0">
                                <div class="d-flex align-items-center">
                                    <label class=" form-label" style="width: 30%;"
                                           for="customerName">Customer Name</label>
                                    <input type="text" class="form-control " style="width: 70%;"
                                           id="customerName" placeholder="Customer Name">
                                </div>
                            </div>
                            <div class="col-sm-12   col-lg-4 mt-3 mt-lg-0">
                                <div class="d-flex  align-items-center">
                                    <label class=" form-label " style="width: 30%;"
                                           for="Address">Address</label>
                                    <input type="text" class=" form-control" style="width: 70%;"
                                           id="Address" placeholder="Address" />
                                </div>
                            </div>
                            <div class="col-sm-12   col-lg-4 mt-3 mt-lg-0">

                                <div class="d-flex align-items-center">
                                    <label class=" form-label " style="width: 30%;" for="phone">
                                        Phone
                                        No.
                                    </label>
                                    <input type="number" class=" form-control" style="width: 70%;"
                                           id="phone" placeholder="Enter phone " />
                                </div>
                            </div>
                        </div>
                        <hr class="mt-4">
                        <div class="">
                            <form action="#" method="post" novalidate class="sell-form">
                                <div class="d-flex flex-column flex-lg-row" style="gap: 8px;">
                                    <div class="d-flex flex-column w-100 js-row">
                                        <div class="mb-2 sellFontWeight">Product Name</div>
                                        <div>
                                            <select class="form-select" required name="Pname" id="">
                                                <option value="BROILER dressed chicken(with Skin)">
                                                    BROILER
                                                    dressed chicken(with Skin)
                                                </option>
                                                <option value="BROILER dressed chicken(without Skin)">
                                                    BROILER dressed chicken(without Skin)
                                                </option>
                                                <option value="Big BROILER (WHOLE)">
                                                    Big BROILER (WHOLE)
                                                </option>
                                                <option value="Small BROILER (WHOLE)">
                                                    Small BROILER (WHOLE)
                                                </option>
                                                <option value="BROILER boneless">BROILER boneless</option>
                                                <option value="Layer chicken (whole)">
                                                    Layer chicken (whole)
                                                </option>
                                                <option value="Layer chicken dressed">
                                                    Layer chicken dressed
                                                </option>
                                                <option value="Cockerel (WHOLE)">Cockerel (WHOLE)</option>
                                                <option value="Goat meat">Goat meat</option>
                                                <option value="Egg">Egg</option>
                                            </select>
                                        </div>


                                    </div>

                                    <div class="d-flex flex-column w-100 js-row">
                                        <div class="mb-2 sellFontWeight">Weight(Per Gram)</div>
                                        <div>
                                            <input required type="text" placeholder="weight(per gram)"
                                                   name="weight" class="form-control">
                                        </div>


                                    </div>
                                    <div class="d-flex flex-column w-100 js-row">
                                        <div class="mb-2 sellFontWeight">Rate(Per KG)</div>
                                        <div>
                                            <input required type="text" placeholder="Rate(per kg)" name="rate"
                                                   class="form-control">
                                        </div>


                                    </div>
                                    <div class="d-flex flex-column w-100 js-row">
                                        <div class="mb-2 sellFontWeight">Amount</div>
                                        <div>
                                            <input required type="text" placeholder="Amount" name="amount"
                                                   class="form-control">
                                        </div>


                                    </div>
                                    <div class="d-flex align-items-end  ">
                                        <div class="">
                                            <button type="submit"
                                                    class="btn btn-primary sell-0  btn-save "
                                                    data-rownum="sell-0" name="btn-add" id="sell-plus-btn-js">
                                                <i class="bi bi-plus-circle"></i>
                                            </button>
                                        </div>
                                    </div>


                            </form>

                        </div>

                        <div class="row   mt-2  d-flex justify-content-center px-3  d-none table-data-js">
                            <hr>
                            <div class="table-responsive p-0 card-border border-2 p-2 mt-4">
                                <table id="table-sell" class="table table-striped m-0">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Weight</th>
                                            <th>Rate</th>
                                            <th colspan="2">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <!-- Row end -->

                        <div class="card-footer">
                            <div class="d-flex gap-2 justify-content-end">
                                <button type="button" class="btn btn-info btn-lg  ">
                                    Cancel
                                </button>
                                <button type="button"
                                        class="btn btn-primary btn-lg px-4 btn-save-table-data">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- App body ends -->




    </div>
    <!-- App footer start -->
    <!-- App footer end -->
    <!-- App container ends -->

</div>



