@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Welcome</h2> 
<!-- App container starts -->
<div class="app-container">

    <!-- App header starts -->
    <div class="app-header d-flex align-items-center">

        <!-- Toggle buttons start -->
        <div class="d-flex">
            <button class="btn btn-outline-primary me-2 toggle-sidebar" id="toggle-sidebar">
                <i class="bi bi-chevron-left fs-5" id="toggle-icon-btn"></i>
            </button>
            <button class="btn btn-outline-primary me-2 pin-sidebar" id="pin-sidebar">
                <i class="bi bi-chevron-left fs-5" id="icon-btn"></i>
            </button>
        </div>
        <!-- Toggle buttons end -->
        <!-- App brand sm start -->
        <div class="app-brand-sm d-md-none d-sm-block">
            <a href="index.html">
                <img src="~/images/NoorFood.png" class="logo" alt="img-logo">
            </a>
        </div>
        <!-- App brand sm end -->
        <!-- App header actions start -->
        <div class="header-actions">
            <div class="d-lg-block d-none me-2">
            </div>

            <div class="dropdown ms-3">
                <a id="userSettings"
                   class="dropdown-toggle d-flex py-2 align-items-center text-decoration-none" href="#!"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="d-none d-md-block me-2">Noor Food</span>
                    <img src="~/images/profile.avif" class="rounded-circle img-3x"
                         alt="Bootstrap Gallery" />
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <a class="dropdown-item d-flex align-items-center" href="profile.html">
                        <i class="bi bi-person fs-4 me-2"></i>Profile
                    </a>

                    <a class="dropdown-item d-flex align-items-center" href="https://snmatrix.com/noorfoodandagriculture/noorfood" onclick="myFunction()">
                        <i class="bi bi-escape fs-4 me-2"></i>Logout
                    </a>
                </div>
            </div>
        </div>
        <!-- App header actions end -->

    </div>
    <!-- App header ends -->
    <!-- App hero header starts -->
    <div class="app-hero-header d-none">
        <!-- <h5 class="fw-light">Sell,</h5> -->
        <h2 class="">Add User</h2>
    </div>
    <!-- App Hero header ends -->
    <!-- App body starts -->
    <div class="app-body h-100 mt-0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="userdetail-tab" data-bs-toggle="tab"
                        data-bs-target="#userdetail" type="button" role="tab" aria-controls="userdetail"
                        aria-selected="true">
                    Add User
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="userlist-tab" data-bs-toggle="tab" data-bs-target="#userlist"
                        type="button" role="tab" aria-controls="userlist" aria-selected="false">
                    User
                    list
                </button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="userdetail" role="tabpanel"
                 aria-labelledby="userdetail-tab">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="card shadow mb-4">
                            <!-- <div class="card-header">
                                <h4>User Details</h4>

                            </div> -->
                            <form method="GET" id="user" action="/index.html">
                                <div class="card-body">



                                    <div class="row">
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">First Name</label>
                                                <input type="text" pattern="" required name="fname"
                                                       class="form-control" placeholder="Enter First Name">

                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Last Name</label>
                                                <input name="lname" required type="text"
                                                       class="form-control" placeholder="Enter Last Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">

                                                <label class="form-label">Login Name</label>
                                                <input type="text" required name="loginName"
                                                       class="form-control" placeholder="Enter Login Name">

                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Email</label>
                                                <input type="email" required name="email"
                                                       class="form-control" placeholder="Enter Email">

                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Phone Number</label>
                                                <input type="number" required name="phoneNumber"
                                                       class="form-control" placeholder="Enter phone number">
                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">

                                                <label class="form-label">Dob</label>
                                                <input type="date" required name="dob" class="form-control"
                                                       placeholder="Enter Dob">

                                            </div>
                                        </div>

                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Password</label>
                                                <input type="password" required name="password"
                                                       class="form-control" placeholder="Enter password">
                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3 d-flex align-items-center h-100"
                                                 style="gap:10px">
                                                <label class="form-label m-0">Gender</label>

                                                <input type="radio" checked id="gender" name="gender"
                                                       value="male" /> Male
                                                <input type="radio" id="gender" name="gender"
                                                       value="female" />
                                                Female

                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">

                                                <label class="form-label">Confirm-Password</label>
                                                <input type="password" required name="cPassword"
                                                       class="form-control"
                                                       placeholder="Enter confirm password">


                                            </div>
                                        </div>

                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Address1</label>
                                                <input type="text" required name="address1"
                                                       class="form-control" placeholder="Enter Address1">
                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">

                                                <label class="form-label">Address2</label>
                                                <input type="text" required name="address2"
                                                       class="form-control" placeholder="Enter Address2">


                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Landmark</label>
                                                <input type="text" required name="landmark"
                                                       class="form-control" placeholder="Enter landmark">
                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">City</label>
                                                <input type="text" required name="city" class="form-control"
                                                       placeholder="Enter city">
                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">State</label>
                                                <input type="text" required name="state"
                                                       class="form-control" placeholder="Enter state">
                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Zip Code</label>
                                                <input type="number" required name="zip"
                                                       class="form-control" placeholder="Enter zip code">
                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Country</label>
                                                <input type="text" required name="Country"
                                                       class="form-control" placeholder="Enter Country">
                                            </div>
                                        </div>

                                    </div>


                                    <div class="card-footer">
                                        <div class="d-flex gap-2 justify-content-end  align-items-center">
                                            <button type="submit" class="btn btn-info btn-lg">
                                                Cancel
                                            </button>
                                            <button type="submit" class="btn btn-primary btn-lg px-4">
                                                Save
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- App body ends -->


                </div>
            </div>
            <div class="tab-pane fade" id="userlist" role="tabpanel" aria-labelledby="userlist-tab">
                <!-- USER LIST content goes here -->
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="card shadow mb-4">
                            <!-- <div class="card-header">
                                <h4>User Details</h4>

                            </div> -->
                            <form method="post" id="user" action="/user">
                                <div class="card-body">




                                    <div class=" card-border p-2 mt-4">
                                        <div class="row">
                                            <div class="col-8 col-lg-3 ">
                                                <div class="d-flex">
                                                    <input type="text" class="form-control"
                                                           placeholder="Search">
                                                    <button class="btn btn-primary" type="button">
                                                        <i class="bi bi-search fs-5"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-4 col-lg-9">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <a title="PDF" class="px-1" href="#">
                                                        <i class="bi bi-file-pdf-fill"
                                                           style="color:red; font-size: 24px"></i>
                                                    </a>
                                                    <a title="EXCEL" href="#">
                                                        <i class="bi bi-file-earmark-spreadsheet-fill"
                                                           style="color:green; font-size: 24px"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-center table-data-js mt-3">
                                            <!-- <hr> -->
                                            <div class="table-responsive p-0 w-100">
                                                <table id="table-sell" class="table table-striped m-0">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-weight: 600;">Name</th>
                                                            <th style="font-weight: 600;">Address</th>
                                                            <th style="font-weight: 600;">Phone No.</th>
                                                            <th style="font-weight: 600;">Email</th>
                                                            <th style="font-weight: 600;">Dop</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Harshit</td>
                                                            <td>New Delhi</td>
                                                            <td>9912345678</td>
                                                            <td>xyz@gmail.com</td>
                                                            <td>23-10-2023</td>
                                                        </tr>

                                                    </tbody>
                                                </table>

                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-end mt-3 fw-bold">
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="#">Previous</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="#">1</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="#">2</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="#">3</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="#">Next</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- App body ends -->


                </div>

            </div>
        </div>

        <div class="app-footer position-fixed bottom-0  w-100 " style="background-color: #e9edf2;">
            <h6>© Snmatrix 2023</h6>
        </div>
        <!-- App container ends -->
    </div>
    <!-- App container ends -->
</div>
<!-- App body ends -->
